<h2>All Recipes</h2>

<ul class="columns">
  <% recipes.forEach( recipe =>{ %>
    <ul class=" column is-one-quarter">
      <li >
        <a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a>
        <img style="max-width: 200px " src='<%= recipe.url %>' alt='<%= recipe.title %>' />
      </li>
      <li>
      <% if(recipe.creator){%>
        By <%= recipe.creator.username %>
        <% } %>
      </li>
    </ul>
  <% }) %>
