<% if(locals.isLoggedIn){%>
<h2>My Recipes</h2>

<ul class="columns">
  <% locals.user.recipes.forEach( recipe =>{ %>
    <ul class=" column is-one-quarter">
      <li >
        <a href="/recipes/<%= recipe.id %>"><%= recipe.title %>
        <img style="height: 200px;" src='<%= recipe.url %>' alt='<%= recipe.title %>' />
        </a>
      </li>
      <li>
      <% if(recipe.creator){%>
        By <%= recipe.creator.username %>
        <% } %>
      </li>
    </ul>
  <% }) %>
  <% } %>
</ul>
