<h2 id="recipe-title">  <%= recipe.title %></h2>
<div class="columns">
  <div class="column is-half">
    <img src="<%= recipe.url %>" alt="<%= recipe.title %>" />
  </div>
  <div class="column is-half">
    <h5 id="ingredients-header">Ingredients</h5>
    <ul>
      <li><%= recipe.ingredients %></li>
    </ul>
    <form class="" action="/recipes/<%= recipe.id %>/comment" method="post">
      <textarea name="content" rows="8" cols="80"></textarea>
      <button name="button">Post a comment</button>
    </form>
    <a href="/recipes/<%= recipe.id %>/edit">Edit</a>
    <form class="" action="/recipes/<%= recipe.id %>/" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="button">Delete</button>
    </form>
  </div>
</div>
