<h2 id="recipe-title">  <%= recipe.title %></h2>
<div class="columns">
  <div class="column is-half">
    <img src="<%= recipe.url %>" alt="<%= recipe.title %>" />
    <% if (recipe.creator){ %>
      <a class="user-link" href="/users/<%= recipe.creator.id %>"><h5>By <%= recipe.creator.username %></h5></a>
      <% } %>
  </div>
  <div class="column is-half">
    <div class="show-ingredients">
        <h5>Ingredients</h5>
        <% recipe.ingredients.split(', ').forEach( ingredient =>{ %>
          <ul>
            <li><%= ingredient %></li>
          </ul>
        <% }) %>
      </div>
    <% if(recipe.creator.id === locals.currentUser.id){ %>
      <div class="show-buttons">
        <a class="button" href="/recipes/<%= recipe.id %>/edit">Edit</a>
        <form class="" action="/recipes/<%= recipe.id %>/" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button" name="button">Delete</button>
        </form>
      </div>
    <% } %>
    <div class="show-comments">
      <h5>Comments</h5>
        <% recipe.comments.forEach( comment =>{ %>
          <li id="comments">
            <a href="/users/<%= comment.user.id %>" class="user-comment" id="username"><%= comment.user.username %></a><span class="user-comment" id="comment"><%=comment.content%></span>
            <% if(comment.user.id === locals.currentUser.id){ %>
              <form id="delete" action="/recipes/<%= recipe.id %>/comment/<%= comment.id %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button id="delete" class="button" name="button">Delete</button>
              </form>
            <% } %>
          </li>
        <% }) %>
      <form id="comment-input" action="/recipes/<%= recipe.id %>/comment" method="POST">
        <textarea id="textarea" name="content" rows="8" cols="80"></textarea>
        <button class="button" name="button">Post a comment</button>
      </form>
    </div>
  </div>
</div>
